@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
        <title>Contact CRM</title>
    <link rel="stylesheet" href="Style.css" />
             
    </head>
    <body>
          <div class="banner">
               
            </div>  
            <h1>WELCOME</h1>
            <h3>Enjoy the seemless ability to keep track of all you clients information</h3>
            

    </body>
</html>